.text-12 {
  font-size: 12px;
}

.profile-icon {
  height: 30px;
  width: 30px;
}

.navbar-btn {
  height: 28px;
}

.account-icon {
  padding-top: 2px;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #2c2828;
  color: #ffffff;
}

.dropdown-menu .dropdown-item:focus {
  outline: none;
}
