.card-text.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badge {
  font-size: 0.9em;
}

.overflow-auto {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.bi {
  font-size: 1.2em;
}
